<% @submission_reviews        ||= nil %>
<% @submission_reviews_title  ||= "All assigned reviews" %>
<% @include_competition       ||= true %>
<% @include_files             ||= false %>
<% @speed_display             ||= false %>
<% if @submission_reviews.blank? || @submission_reviews.length == 0 %>
  <h2>Sorry, you do not have any accessible reviews at this time</h2>
<% end %>

<%= render('submission_review_table',
           :submission_reviews => @submission_reviews,
           :title => @submission_reviews_title,
           :table_id => 'all_submission_reviews',
           :include_competition => @include_competition,
           :include_files => @include_files,
           :speed_display => @speed_display) %>
