%html
  %head
  %body
    %h3
      NITRO Competitions Report for the previous month.
      = Date.today
    %p
      Please find attached a csv file with information for competitions that were created or updated during the previous month. 
    \
    