%html
  %head
  %body
    %h3
      NITRO Competitions Quarterly Report.
      = Date.today
    %p
      Please find attached a csv file, which is a dump of all the competitions and associated information.
    \
    