# Mac
.DS_Store

# db backups
db/*.out

# .rc
.powrc
.rvmrc

# DB Configuration
config/database.yml

# directories
bin/
tmp/
log/

# Testing detritus
assets/files/
coverage/

# Asset pipeline
public/assets/
public/system/

# Local notes
doc/notes/

# Bundler
.bundle/
vendor/bundle/*

# Compressed
*.zip
csvs/
csvs/*

# .env 
.powenv
.env
.env.test
.env.development
.env.staging
.env.production
*_data.txt
