# Mac
.DS_Store

# db backups
db/*.out
db_dumps/*

*.log

# .rc
.powrc
.rvmrc

# DB Configuration
config/database.yml

# directories
bin/
log/
tmp/cache/
tmp/pids/
tmp/sessions/
tmp/sockets/

# Testing detritus
assets/files/
coverage/
coverage

# Asset pipeline
public/assets/
public/system/

# Local notes
doc/notes/

# Bundler
.bundle/
vendor/bundle/*

# Compressed
*.zip
csvs/
csvs/*

# .env 
.powenv
.env
.env.test
.env.development
.env.staging
.env.production
*_data.txt
