<ul class='assigned_submission_list'>
  <% reviewer.submission_reviews.this_project(project.id).each do |item| %>
   <% domid = "submission_review_#{item.id}" %>
    <li class="assigned_submission" id='<%= domid %>'>
      PI: <%= item.submission.applicant.name %>; Title: <%= truncate_words(item.submission.submission_title, 20) %>
    </li>
  <% end %>
</ul>
<script type="text/javascript">
  jQuery('.assigned_submission_list').droppable({
    drop: function(event, ui) {
      console.log('Drop target: ');
      console.log(jQuery(this));
    }
  });
</script>
