<ul class='unassigned_submission_list' style='display:block; height:80px;'>
  <% @unfilled_submissions.each do |item| %>
    <% domid = "submission_#{item.id}" %>
    <li class='unassigned_submission' id='<%= domid %>'>
      PI: <%= item.applicant.name %>; Title: <%= truncate_words(item.submission_title, 20) %>
    </li>
  <% end %>
  <script type="text/javascript">
    jQuery('.unassigned_submission').draggable();
  </script>
</ul>
