<% #TODO: look into the user switching admin function for problem in switching to oauth %>
<div id="act_as_user">
  <%= form_for :admin, :url => act_as_user_project_admins_path(:project_id => @project.id), :html => { :method => :post, :class => "p" } do |form| %>
    <p>
      Select a user to act as. Note that you will have to logout and login back in to get back to your own account.
    </p>
    <p>
      <%= collection_select '', 'username', @users.order('last_name ASC'), :username, :name, {}, :size => "30" %> Select user
    </p>
    <%= submit_tag 'Act as this user' %>
  <% end %>
</div>
