<!-- START: styles -->
<style>
  .hover {
    background-color: #888888;
  }
  #assigned_submissions ul li, #unassigned_submissions ul li {
    list-style: none;
    cursor: -moz-grab;
  }
  #assigned_submissions, #unassigned_submissions {
    border: none;
  }
</style>

<table class='borderless' style='margin-top: 1em; width:100%;'>
  <tr>
    <td class='h2' style='width:60%;'>
      Reviewers
    </td>
    <td class='h2'>
      Unassigned Submissions
    </td>
  </tr>
  <tr>
    <td style='width:60%;'>
      <%= render 'reviewers', reviewers: @reviewers, project: @project %>
    </td>
    <td style='height:500%;' id='unassigned_submissions2'>
      <div style='height:50px;' id='unassigned_submissions'>
        <%= render 'unassigned_submissions', unfilled_submissions: @unfilled_submissions %>
      </div>
    </td>
  </tr>
</table>

<h2>
  Add Reviewers <%= netid_lookup_tag %>
</h2>
<%= render 'add_reviewers_form', project: @project %>
