%h2 Your Profile
= form_for(:applicant, :url => (params[:project_id].blank? ? applicant_path(@applicant.id) : project_applicant_path(params[:project_id], @applicant.id)), :html => { :multipart => true, :method => :put, class: 'form-horizontal' }) do |f|
  = render(:partial => 'applicant_form', :locals=>{:f=>f, :applicant=>@applicant})
