- url = (params[:project_id].blank? ? applicant_path(@applicant.id) : project_applicant_path(params[:project_id], @applicant.id))

.bottom_border
  %h3 
    Edit User Profile

= form_for(:applicant, :url => url, :html => { :multipart => true, :method => :put, :id => "applicant_form", class: 'form-horizontal' }) do |f|
  = render('applicant_form', f: f)
