/* tables */
table.tablesorter {
	font-family:Arial Narrow, Arial;
	background-color: #CDCDCD;
	border: 0px;
    border-collapse: collapse;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 0px;
	font-size: 12pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/updown.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	font-family:Arial Narrow, Arial;
	border: 0px;
	font-size: 11pt;
	color: #3D3D3D;
	/* padding: 4px; */
	padding-left: 4px;
    line-height: 20px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F2F5; 
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #B4CBCB;
}
