%table
  %tr
    %td.title=f.label 'Username'
    %td.notes
      =f.text_field :username, size: 20, required: true
  %tr
    %td.title=f.label 'First Name'
    %td.notes
      =f.text_field :first_name, size: 20, required: true
  %tr
    %td.title=f.label 'Last Name'
    %td.notes
      =f.text_field :last_name, size: 40, required: true
  %tr
    %td.title=f.label 'Email'
    %td.notes
      =f.text_field :email, size: 40, required: true

%p
  = f.submit 'Save'