<div id='add_key_personnel_link'>
  <% title = index > 0 ? 'Add more key personnel' : 'Add key personnel' %>
  <%= link_to title, add_new_submission_key_personnel_path(submission.id, index: index), :remote => true %>
</div>