- if is_admin?
  %br
  Admin links:
  .admin_links
    %ul
      %li=link_to("New competition", new_project_path)
      %li=link_to("All submissions", submissions_project_admins_path(current_project().id))
      %li=link_to("All reviews", all_reviews_project_path(current_project.id))
      %li=link_to("All competitions", sponsor_path(@sponsor.id))

