<div id="footer-row">
  <%= link_to(image_tag('nubic-logo.gif', :size => "167x55"),
              "http://www.nucats.northwestern.edu/centers/nubic/index.html") %>
  <%= link_to(image_tag("pageheader.jpg",
              options={:alt=>"The Northwestern University Clinical and Translational Sciences Institute"} ),
              "http://www.nucats.northwestern.edu") %>
  <div id='version'>
    v. <%= "#{NucatsAssist::VERSION}" %>
  </div>
  If you have comments, issues, critiques,
  <a href='mailto:nucatsassist@nubic.northwestern.edu' class='mail_to'>please send us an email!</a>
</div>
