<NOSCRIPT>
  <div style="background-color: pink; padding: 10px;">
    <h1>WARNING: JavaScript isn't enabled in your browser.</h1>
    <p>
      <h3>
        NITRO ARM needs JavaScript to be turned on in your browser in order to function properly.
        Please <a href="http://www.ehow.com/how_8160414_can-turn-javascript.html">click here</a>
        for instructions on how to enable JavaScript in your browser.
      </h3>
    </p>
    <p>
      Upgrading your browser or installing new security software or security patches may affect your JavaScript settings.
    </p>
  </div>
</NOSCRIPT>