<span>Docs:</span>
<%= link_to_rfa(project).html_safe %>
<%= link_to_application_template(project).html_safe %>
<%= link_to_application_info(project).html_safe %>
<%= link_to_budget_documents(project).html_safe %>