- if Rails.configuration.use_omniauth
  - if !cookies[:nucats_auth].present? || !session[:user_info].present?
    #supermenu
      Having trouble logging in?
      = link_to 'Click here', auth_path, :class => 'menu_link'
      to reset your session.
%nav.navbar.navbar-default.navbar-fluid-top.bootstrap-override-navbar-no-bottom-margin
  .container
    .navbar-header
      %a.navbar-brand{href: '/'}=NucatsAssist.html_app_name
    #navbar
      %ul.nav.navbar-nav.navbar-right
        %li=link_to 'Help', 'http://www.nucats.northwestern.edu/funding/nitro-competitions.html'
        - if defined?(current_user_session) && !current_user_session.blank?
          %li=link_to("Logout", application_logout_path, :class => 'user_link')
        - else
          %li=link_to 'Login', projects_path, :class => 'menu_link'
