<div id="key_personnel_<%= index %>" style='border: 2px solid lightgray; padding:5px;width:750px;' class='notes' >
  <%= render('shared/personnel_fields', key_person: key_person, submission: submission, index: index) %>
</div>