<h2>Current and Recent Competitions</h2>
<div class='project_selection_list'>
  <% programs.each do |program, projects| %>
    <div class='program'>
      <div class='program_information'>
        <% if program.program_url.blank? %>
          <h3><%= program.program_title %></h3>
        <% else %>
          <h3>
            <%= link_to(h(program.program_title),
                              sponsor_path(program), 
                              :title => "Get more information on #{program.program_title}", 
                              :target => '_blank' ) %>
          </h3>
        <% end %>
      </div>
      <%= render 'shared/project_list',
                 projects: projects,
                 show_project_link: show_project_link,
                 show_action_links: show_action_links %>
    </div>
  <% end %>
</div>
