<div class="project_actions">
  <h4>Manage this competition:</h4>

  <div class="project_information">
    Submissions:
    <%= link_to(project.submissions.count.to_s, submissions_project_admins_url(project.id)) %>
  </div>
<% if is_admin?(project.program) %>
  <div class="project_admin">
    <ul>
      <li>
        <%= link_to(image_tag('page_white_edit.png') + ' Edit',
                    edit_project_path(project),
                    title: 'Edit information about this competition') %>
      </li>
  <% if project.submissions.count.zero? %>
      <li>
        <%= link_to(image_tag('trash_blue.png') + ' Delete',
                    project,
                    method: :delete,
                    title:  'Delete this competition',
                    data:   { confirm: "Are you sure you want to delete the competition: #{project.project_title}?" } ) %>
      </li>
  <% end %>
      <li>
        <%= link_to(image_tag('add.png') + ' Use this competition as a template',
                    copy_project_path(project),
                    title: 'Use information from this competition to create a new one') %>
      </li>
    </ul>
  </div>
<% end %>
</div>
