<% if is_logged_in? %>
  <div class='project_actions'>
    <% if is_admin?(project.program) %>
      <%= link_to(image_tag("application_form.png",
                            :width=>"16px", :height=>"16px",
                            :style=>"margin-top:-5px; margin-bottom:-2px;") + ' Edit competition information',
                  edit_project_path(project),
                  :title => "Click here to edit information about this competition") %>
      <br/>
      <% if show_submissions %>
  	    <% if project.submissions.length == 0 %>
  	      <%= link_to(image_tag("trash_blue.png",
                                :width=>"16px", :height=>"16px",
                                :style=>"margin-top:-5px; margin-bottom:-2px") + ' Destroy competition',
                      project,
  	                  :confirm => "Are you sure you want to delete the competition: #{project.project_title}?",
  	                  :method => :delete,
  	                  :title => "Click here to delete this competition completely" ) %>
  	    <% else %>
  	      <div class='cannot_delete'>
  	        Can't delete - submissions exist
  	      </div>
  	    <% end %>
      <% end %>
	  <% end %>
	  <%= render 'shared/links_to_project_docs', :project => project %>
  </div>
<% end %>

