<div class='project_selection_list'>
  <% programs.each do |program, projects| %>
    <div class='program'>
      <div class='program_information'>
        <h3>
          <%= link_to(h(program.program_title),
                            sponsor_path(program),
                            :title => "Get more information on #{program.program_title}") %>
        </h3>
      </div>
      <% if current_user %>
        <%= render 'shared/project_list',
                   projects: projects,
                   show_project_link: show_project_link %>
      <% else %>
        <%= render 'public/project_list',
                   projects: projects %>
      <% end %>
    </div>
  <% end %>
</div>
