<% provide(:title_tag, 'All Sponsors') %>
<h2 class='bottom_border'>
  <%= yield :title_tag %>
</h2>

<%= render('sponsor_list', :sponsors => @sponsors) %>

<div class='links'>
  <%= render 'shared/admin_links' %>
</div>

<%= javascript_tag do %>
  jQuery(document).ready(function() {
    // call the tablesorter plugin
    jQuery("#sponsorTable").tablesorter({
      widgets: ['zebra'],
      // turn off sorting on the 4th header
      headers: { 2: {sorter: false}, 3: {sorter: false}, 4: {sorter: false} }
    });
  });
<% end %>
