<!-- need this for ajax calls to build the personnel associations -->
<% is_editable = (submission.is_open? || submission.is_modifiable?) %> 
<% if submission.project.show_manage_coinvestigators && (is_admin? || is_editable) %>
  <tr>
    <td colspan='3' class='highlighted_table_cell'>
      <div class='h3'>Enter/update/delete key personnel</div>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :key_personnel, 'Key Personnel' %>
    </td>
    <td colspan='2'>
      <div id='key_personnel'>
        <!-- % = render 'shared/personnel_fields', submission: submission, submission_form: f %-->
        <% submission.key_personnel.each_with_index do |key_person, index| %>
          <%= render 'shared/new_personnel_fields', key_person: key_person, submission: submission, index: index %>
        <% end %>
      </div>
      <%= render 'shared/add_personnel_link', index: submission.key_personnel.size, submission: submission %>
    </td>
  </tr>
<% end %>
