<!-- need this for ajax calls to build the personnel associations -->
<% if submission.project.show_manage_coinvestigators and
  ( is_admin? or
    ((submission.project.submission_open_date < Date.today and (submission.project.submission_close_date >= Date.today ||
     (submission.project.submission_modification_date.blank? ? false : submission.project.submission_modification_date >= Date.today) ))))%>
  <tr>
    <td colspan="3" style="background:#ADE387;">
      <div class="h3">Enter/update/delete key personnel</div>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :key_personnel, "Key Personnel" %>
    </td>
    <td colspan="2">
      <div id="key_personnel">
        <%= render 'shared/personnel_fields', submission: submission, submission_form: f %>
      </div>
    </td>
  </tr>
<% end %>
