<% unless @project.blank? %>
  <% include_sponsor_and_competition = 0 %>
<% end %>

<% if @submissions.empty? %>

  <h3>
    You do not have any submissions. Please visit the competitions list for opportunities.
  </h3>

<% else %>
  <%= render 'shared/submissions_list',
             :submissions => @submissions, :title => @title, :project => @project, :include_sponsor_and_competition => include_sponsor_and_competition %>

<% end %>
<div class='links'>
  <%= link_to 'List of all competitions', projects_path %>
</div>

  <div class='links'>
    <%= render 'shared/admin_links' %>
  </div>