<% provide(:title_tag, (@title.nil?) ? 'Submissions' : @title) %>
<% unless @project.blank? %>
  <% include_sponsor_and_competition = 0 %>
<% end %>

<% if @submissions.empty? %>

  <h3>
    You do not have any submissions. Please visit the
    <%= link_to 'Competitions', '/projects' %>
    list for opportunities.
  </h3>

<% else %>
  <%= render 'shared/submissions_list',
             :submissions => @submissions, :title => @title, :project => @project, :include_sponsor_and_competition => include_sponsor_and_competition %>

<% end %>

<div class='links'>
  <%= render 'shared/admin_links' %>
</div>
