<% unless @project.blank? %>
  <% include_sponsor_and_competition = 0 %>
<% end %>

<%= render 'shared/submissions_list',
           :submissions => @submissions, :title => @title, :project => @project, :include_sponsor_and_competition => include_sponsor_and_competition %>

<%= render 'shared/admin_links' %>

<div class='links'>
  <%= link_to 'List of all competitions', projects_path %>
</div>
