<h2>Application Process - Step 2</h2>
<h3><%= "Create the Title Page for this proposal" %></h3>
<p>Please fill in each of the following items and submit.</p>

<% form_for(:submission, 
	:url => project_applicant_submissions_path(params[:project_id],params[:applicant_id]), 
	:html => { :multipart => true, :method => :post }) do |f| %>
	<!-- f and submission are existing variables passed in -->
	<%= f.hidden_field :submission_status %>
	<table  class="lined">
	<%= render(:partial => 'submission_form', :locals=>{:f=>f, :project=>@project, :submission=>@submission, :applicant=>@applicant}) %>
	  <tr><td colspan="3" align="center" style="background:#ADE387;">
	    <%= f.submit( (@submission.id.blank?) ? 'Save Draft and Continue' : 'Save Update' ) %>
	  </td></tr>
	</table>
<% end %>
