%h2 Application Process - step 2 of 3
%h3 Create the Title Page for this proposal

= form_for(:submission, :url => project_applicant_submissions_path(params[:project_id], params[:applicant_id]), :html => { :multipart => true, :method => :post, :id => 'new_submission_form' }) do |f|
  = f.hidden_field :submission_status
  = render 'submission_form', :f => f, :project => @project, :submission => @submission, :applicant => @applicant

%script{type: 'text/javascript'}
  jQuery('#new_submission_form').validate();
