<% provide(:title_tag, "Submission - #{@submission.submission_title}") %>
<%= render('show_submission', submission: @submission) %>

<br/>
<p class='back_link'>
  <%= link_to 'Back', project_submissions_path(@submission.project_id) %>
</p>
