<p class='information'>
  Below is a list of available competitions and projects.
  If the application period is open, an 'Apply' button will appear to the left of the competition name.
  To view additional information or access existing your submissions, reviews, etc, click the listing for a competition.
</p>

<h1>Listing of current and recent competitions</h1>

<%= render 'shared/project_selection_list',  :projects => @projects %>

<% unless @submissions.blank? %>
  <%= render 'shared/submissions_list', :submissions => @submissions, :title => "All your submissions" %>
<% end %>

<% if is_admin? %>
  <div class='links'>
    <%= link_to 'New project', new_project_path %>
  </div>
<% end %>