<% provide(:title_tag, 'Current and Recent Competitions') %>
<h2 class='bottom_border'>
  <%= yield(:title_tag) %>
</h2>

<%= render 'shared/project_selection_list',
           programs: @programs,
           show_project_link: true,
           show_action_links: true %>
