#compare {
  overflow: hidden;
  display: inline-block;
  position: relative;
  display: block;
}

#compare .sass, #compare .css {
  width: 40%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 0.7em;
  font-size: 18px;
  line-height: 1.2em;
  overflow: auto;
  border-style: solid;
  border-width: 2px;
}

#compare .sass {
  background-color: #ffeeff;
  border-color: #ce4dd6;
  float: left;
}

#compare .css {
  background-color: #e0e0e0;
  border-color: #777777;
  float: right;
}