.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 18px;
  margin: -7px;
  background-color: #cc0000;
  color: white;
}

#errorExplanation p {
  color: #333333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 17px;
  list-style: square;
}

div.notice {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  color: green;
  background-color: white;
  font-family: Arial Narrow, Arial, Helvetica, Geneva, sans-serif;
  font-weight: bold;
  font-size: 27px;
/*  border-bottom: 8px solid #a3a3a3; */
  line-height: 65px;
}

div.notice #errors {
  border: 2px solid red;
  padding: 2px;
  background-color: papayawhip;
  color: darkred;
  display: table;
}