.inplaceeditor-form input[type="text"] {
  width: 260px;
}

.inplaceeditor-form textarea {
  width: 400px;
}

input, select, textarea {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 16px;
  font-weight: normal;
  color: black;
  padding: 0;
  margin-top: 2px;
}

textarea.narrow {
  width: 18em;
}

input.narrow {
  width: 10em;
}

input[disabled] {
  color: gray;
}

/* style all input elements with a required attribute */
.required,
:required {
  border: 2px solid crimson;
}

/**
 * style input elements that have a required
 * attribute and a focus state
 */
:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
:required:hover {
  opacity: 1;
}
select {
  vertical-align: middle;
}

select[disabled] {
  color: gray;
}

form {
  display: inline;
}

#sponsor_contact div {
  margin-bottom: 1em;
}

.email_preference input {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
}

.form_text {
  color: #222266;
}

.required,
.required_marker {
  color: crimson;
  font-size: 18px;
  font-weight: bold;
  padding-right: 2px;
}

.applicant_form {
  width: 85%;
}