a.documenticon {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/documenticon.gif') 0 2px no-repeat;
}

a.documenticon:hover {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/documenticon.gif') 0 2px no-repeat;
}

a.page_white_put {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/page_white_put.png') 0 2px no-repeat;
}

a.page_white_put:hover {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/page_white_put.png') 0 2px no-repeat;
}

a.page_excel {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/page_excel.png') 0 2px no-repeat;
}

a.page_excel:hover {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/page_excel.png') 0 2px no-repeat;
}

a.page_white_acrobat {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/page_white_acrobat.png') 0 2px no-repeat;
}

a.page_white_acrobat:hover {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/page_white_acrobat.png') 0 2px no-repeat;
}

a.warning_16 {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/warning_16.png') 0 2px no-repeat;
}

a.warning_16:hover {
  padding: 2px 2px 2px 20px;
  width: 16px;
  height: 16px;
  background: url('/assets/warning_16.png') 0 2px no-repeat;
}

div.links,
div.admin_links {
  float: left;
  width: 100%;
}

.big_button,
.big_button:hover {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  width: 9em;
  height: auto;
  color: white !important;
  font-size: 1.25em;
  padding: 0.5em 1em;
  margin-top: 0.25em;
  margin-right: 1em;
  line-height: auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  
}

.big_button {
  background-color: green;
}

.big_button:hover {
  background-color: limegreen;
}


.apply_link a,
.apply_link a:hover {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  width: auto;
  height: auto;
  color: white !important;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-top: 0.25em;
  line-height: auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.apply_link a {
  background-color: green;
}
.apply_link a:hover {
  background-color: limegreen;
}

.key_personnel_remove_link {
  width: 41em;
  display: inline-block;
  text-align: right;
  color: maroon !important;
}
