div#login_fields {
  margin-top: 1em;
}
div#login_fields div {
  margin-bottom: 0.5em;
}
div#login_fields label {
  display: inline-block;
  padding-right: .5em;
  vertical-align: middle;
  width: 7.5em;
}
div#login_fields input {
  margin-bottom: 5px;
}
div#login_fields label.check_box {
 width: 15em;
}
div#login_fields input[type="submit"] {
  background-color: #520063 !important;
  border: none;
  width: auto;
  height: auto;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 2em;
  line-height: auto;
  display: inline-block;
  text-align: center;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

div#login_fields input[type="email"],
div#login_fields input[type="text"],
div#login_fields input[type="password"] {
  width: 20em;
}
div#login_fields .buttons {
  margin-top: 2em;
}
