div#content {
  /* to offset the sticky footer we add padding to the bottom of content */
  float: left;
  padding: 0 1em 45px 1em;
  width: 98%;
}

div.information {
  padding-left: 1em;
}

.program {
  float: left;
  width: 98%;
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.project {
  float: left;
  width: 98%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5em;
  padding: 1em 0.5em;
}

.apply {
  float: left;
  width: 12%;
}

.project_details {
  width: 85%;
  float: left;
}

.project h4 {
  color: #3A3A3A;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  margin-top: .25em;
}

/*
.project_actions {
  width: 27%;
  float: left;
}
*/

.project_actions .project_admin ul {
  padding-left: 0;
}

.project_actions .project_admin ul li {
  display: inline-block;
  margin: 0;
}

.project_actions .project_admin ul li::after {
  content: ' | ';
  float: right;
  margin: 0 .5em;
}

.project_actions .project_admin ul li:last-of-type::after {
  content: '';
}

.project_admin a img {
  height: 16px;
  margin-top:-5px;
  margin-bottom:-2px;
  width: 16px;
}

.project_doc {
  display: inline-block;
  padding-right: 0.5em;
}

.project_details .competition .project_title,
.project_details .competition a {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

.project_dates dl {
  margin: 0;
}

.project_dates dt {
  float: left;
  font-weight: normal;
  width: 150px;
}

.project_dates dd {
  padding-bottom: 0;
}


.program_information a,
.program_information a:hover,
.project_information a,
.project_information a:hover {
  text-decoration: none;
}

.cannot_delete,
.membership_required {
  font-weight: bold;
  color: maroon;
}

.membership_required a{
  font-weight: bold;
  color: maroon;
}

.membership_required a:hover{
  text-decoration: underline;
}

div#project_membership_required {
  margin: 1em 0 2em 0;
}

div#project_membership_required p {
  margin: 0.5em;
}

.program_information h3 {
  margin: 0.25em 0 0.25em 0;
}

.attribute_description {
  font-size: 0.8em;
  color: gray;
}

.assigned_submission_list {
  min-height: 2em;
  padding-top: 0.5em;
}

.unassigned_submission_list {
  min-height: 2em;
  border: 1px solid black;
  padding: 1em 2em;
}

header.unpublished {
  background-color: #d62929;
  border: 1px solid black;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1.5em;
  padding: 0.75em;
}
