div#content {
  padding: 0 1em;
}

div.information {
  padding-left: 1em;
}

.program {
  float: left;
  width: 98%;
  border-bottom: 3px solid gray;
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.project {
  float: left;
  width: 98%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
  padding: 1em 0.5em;
}

.apply {
  float: left;
  width: 13%;
}

.project_details {
  width: 52%;
  float: left;
}

.project_details .competition a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
}

.program_information a,
.program_information a:hover,
.project_information a,
.project_information a:hover {
  text-decoration: none;
}

.program_information h3 {
  margin: 0.25em 0 1em 0;
}

.project_actions {
  width: 25%;
  float: left;
}

.apply_link a,
.apply_link a:hover {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  width: auto;
  height: auto;
  color: white !important;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-top: 0.25em;
  line-height: auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.apply_link a {
  background-color: green;
}
.apply_link a:hover {
  background-color: limegreen;
}