div#content {
  /* to offset the sticky footer we add padding to the bottom of content */
  float: left;
  padding: 0 1em 45px 1em;
  width: 98%;
}

div.information {
  padding-left: 1em;
}

.program {
  float: left;
  width: 98%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5em;
  padding: 1em 0.5em;
}

.program_name {
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  width: 12%;
}

.program_details {
  width: 85%;
  float: left;
}

.program_details .program_title {
  font-weight: bold;
  font-size: 1.25em;
}

.program_information a,
.program_information a:hover {
  text-decoration: none;
}

.program_information h3 {
  margin: 0.25em 0 0.25em 0;
}

.attribute_description {
  font-size: 0.8em;
  color: gray;
}
