.footer .help {
  float: left;
  color: #999;
  width: 75%;
  padding: 1em;
}

.version {
  float: right;
  color: #999;
  padding: 1em;
}

.highlighted_table_cell {
  background-color: #BDA0CB;
  font-weight: bold;
}

.subtitle {
  padding-top: 0.25em;
  font-size: 0.75em;
}

.bottom_border 
{
  border-bottom: 1pt solid black;
  padding-bottom: .75em;
}


/*BACKGROUNDS*/
.development_background
{
  background-image: url('dev_bg.jpg');
}

.staging_background
{
  background-image: url('staging_bg.jpg');
}

.production_background
{
}


#key_personnel .notes {
  margin: 0.5em 0;
}

.competition-menu-title {
  min-width: 25em;
  white-space: nowrap;
  padding: 3px;
}

ul.dropdown-menu ul {
  margin: 0;
  padding-left: 0;
}

a.system-admin-menu-item {
  padding: 3px !important;
}