.footer .help {
  float: left;
  color: #999;
  width: 75%;
  padding: 1em;
}

.version {
  float: right;
  color: #999;
  padding: 1em;
}

.highlighted_table_cell {
  background-color: #BDA0CB;
  font-weight: bold;
}

.subtitle {
  padding-top: 0.25em;
  font-size: 0.75em;
}

#key_personnel .notes {
  margin: 0.5em 0;
}