div.submission {
  float: left;
  width: 98%;
  border: 1px solid gray;
  margin-bottom: 1em;
  padding: 1em 0.5em;
}

div.submission_info {
  width: 60%;
  float: left;
}
div.submission_actions {
  width: 35%;
  float: left;
}