div#submissions_list {
  border-bottom: 1px solid black;
}

div#show_submission {
  margin-left: 0.5em;
}

div#show_submission div {
  margin-bottom: 1em;
  font-weight: bold;
}

div#show_submission div p {
  font-weight: normal;
}

div.submission {
  float: left;
  width: 98%;
  bottom-border: 1px solid black;
  margin-bottom: 1em;
  padding: 1em 0.5em;
}

div.submission_info {
  width: 60%;
  float: left;
}

div.submission_actions {
  width: 35%;
  float: left;
}

div.submission_title {
  font-weight: bold;
  font-size: 1.2em;
}

div.submission_complete {
  color: green;
}

div.submission_incomplete {
  font-weight: bold;
  color: maroon;
}

#unassigned_submissions {
  position: relative;
  cursor: -moz-grab;
}

.unassigned_submission:nth-child(odd) {
  background: #e6e6e6;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

label.error {
  color: crimson;
  font-weight: bold;
  border: 2px solid crimson;
  background-color: lightpink;
  padding: 0.25em;
  margin-top: 0.5em;
  display: block;
  width: 25em;
}

textarea.error,
input.error {
  color: crimson;
  border: 2px solid crimson;
}

#submission_submission_title {
  display: block;
  margin-bottom: 0.5em;
}