table {
  border: none;
}

.indented {
  text-indent: 15px;
}

.indented2 {
  text-indent: 30px;
}

tr.border_bottom td {
  border-bottom: 1pt solid black;
  padding-bottom: .75em;
}

td, th {
  margin: 0;
  padding: 0.25em 0.5em;
  vertical-align: top;
  text-align: left;
}

th {
  text-decoration: underline;
  font-size: 1.2em
}

th.no_underline {
  text-decoration: none;
  font-size: 1.2em
}

table.wide {
  width: 95%;
}

table.lined {
  border: 1px solid lightgray;
  border-collapse: collapse;
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
}

table.lined tr th {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px 3px 5px;
}

table.lined tr td {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px 3px 5px;
}

table.lined tr td.title {
  text-transform: uppercase;
}

table.lined tr td.notes {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
  color: #5555aa;
}

table.borderless {
  border: 0;
}

table.borderless tr th, table.borderless td {
  padding-right: 0.8em;
}

table.borderless tr th a, table.borderless td a {
  color: #332299;
  text-decoration: none;
}

table.borderless tr th a:hover, table.borderless td a:hover {
  text-decoration: underline;
}

table.compact {
  border: 0;
}

table.compact tr th {
  margin: 0;
  padding: 0;
  padding-right: 0.8em;
}

table.compact th {
  text-decoration: underline;
  font-size: 1.2em
}

table.compact td {
  margin: 0;
  padding: 0;
  padding-right: 0.8em;
}

/*table.compact tr th a, table.compact td a {
  color: #222266;
  text-decoration: none;
}*/

td.list-left, th.list-left {
  padding-left: 1em;
}

td.list-right, th.list-right {
  padding-right: 1em;
  text-align: right;
}

td.list-title-left {
  padding-left: 1em;
  color: #224444;
  font-weight: bold;
}

td.list-title-center {
  text-align: center;
}

td.list-title-right {
  padding-right: 1em;
  text-align: right;
}

/* tablesorter */
table.tablesorter {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
  background-color: #CDCDCD;
  border: 0px;
  border-collapse: collapse;
  margin:10px 0pt 15px;
  font-size: 12pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 0px;
  font-size: 12pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(../images/updown.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
  border: 0px;
  font-size: 11pt;
  color: #3D3D3D;
  /* padding: 4px; */
  padding-left: 4px;
    line-height: 20px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F2F5;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #B4CBCB;
}