<% provide(:title_tag, 'Disallowed IP Address') %>
<div id="disallowed-list">
  <h3>
    Please login to the VPN if you are off campus!
  </h3>

  <p>
    Sorry your IP ( <%= request.remote_ip  %> ) is not allowed!
  </p>

  <p>
    Only <%= NucatsAssist.allowable_ip_locations %> IPs are allowed!
  </p>

  <p>
    If you feel you have gotten this message in error, please contact
    <a href="mailto:#{NucatsAssist.from_email_address}">the <%= NucatsAssist.html_app_name %> application support desk.</a>
  </p>
</div>
