<div id="disallowed-list">
	<h1>Please login to the VPN if you are off campus!</h1>

	<p>Sorry your IP ( <%= request.remote_ip  %> ) is not allowed!</p>

	<p>Only Northwestern, CMH, NMFF, NorthShore, and NMH IPs are allowed!</p>

	<p>If you feel you have gotten this message in error, please contact <a href='mailto:nucatsassist@nubic.northwestern.edu'>the NUCATS Assist application support desk.</a> </p>

<br />

</div>