TODO: add text and beautify display

<% if current_user.blank? %>
  <%= link_to 'Please log in', '/public/home' %>
<% else %>
  <ul>

    <li>
      <%= link_to 'View all competitions', '/projects' %>
    </li>

    <% if @submissions.count > 0 %>
      <li>
        <%= link_to "Update Your #{pluralize(@submissions.count, 'Submission')}", '/submissions/all' %>
      </li>
    <% end %>

    <% if @submission_reviews.count > 0 %>
      <li>
        <%= link_to "Your #{pluralize(@submission_reviews.count, 'Review')}", '/reviewers/all_with_files' %>
      </li>
    <% end %>

  </ul>
<% end %>