<% provide(:title_tag, 'Welcome') %>
<h2>
  Welcome to NITRO Competitions
</h2>

<h5 class="indented bottom_border">
  NITRO Competitions provides a place for investigators, reviewers and administrators to apply for or run competitions including pilot projects and research awards.
</h5>

<% if @projects.any? %>
  <div id="project_list">
    <%= render 'shared/project_selection_list',
                programs: @programs %>
  </div>
<% else %>
  <p class="indented">
    There are currently no competitions accepting submissions.
  </p>
<% end %>
