<h1>Welcome to NUCATS Assist</h1>

<p>
  NUCATS Assist provides tools for investigators and administrators to apply for and run competitions
  including pilot projects, research awards, and other sources of funding.
</p>

<%= render 'shared/project_selection_list', :programs => @programs, :show_links => false %>

How to:
<%= link_to("Site instructions", image_path("../docs/NUCATS_Assist_Instructions.pdf"),
            :title => "NUCATS Pilot Proposal Web Site Instructions/Help/HowTo") %>