<h2>
  Welcome to NITRO Competitions
</h2>

<h5 class='indented bottom_border'>
  NITRO Competitions provides a place for investigators, reviewers and administrators to apply for or run competitions including pilot projects and research awards.
</h5>

<%= render 'shared/project_selection_list',
           programs: @programs,
           show_project_link: false,
           show_action_links: false %>
